<div class="row">
      <div class="col-6">
        <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Type to filter">
      </div>
    </div>
    <hr>
    
    <table class="table table-striped" *ngIf='pasajeros && pasajeros.length'>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">identificación</th>
          <th scope="col">Nombre </th>
          <th scope="col">Apellido</th>
          <th scope="col">Telefono</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pasajero of pasajeros; index as i ">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ pasajero.identificacion }} </td>
          <td>{{ pasajero.nombre }}</td>
          <td>{{ pasajero.apellido  }}</td>
          <td>{{ pasajero.telefono  }}</td>
          <td>{{ pasajero.email  }}</td>
        </tr>
      </tbody>
    </table>
  
